<div>
<h3>search by city!!</h3>
<form method="GET" action="/search">

    <input type="submit" />

</form>
</div>

<div id="navItems">
    <h3>Customer Data: </h3>
<a href="/customers/new">Add Customers Here</a>
<a href="/customers">Existing Customers</a>
</div>