
<h4>Select your Zones::</h4>
<button type="button" id="newZone" name="newZone">Start a New Zone</button>
<div id="map"></div>

 <script>
     mapboxgl.accessToken = '<%= mapkey %>'
     const map = new mapboxgl.Map({
         container: 'map',
         style: 'mapbox://styles/mapbox/streets-v11',
         center: [-73.93126065039185, 40.74089181704446],
         zoom: 10
     })
     map.on('click', function(e) {
		    var coordinates = e.lngLat;

		    new mapboxgl.Popup()
		      .setLngLat(coordinates)
		      .setHTML('you clicked here: <br/>' + coordinates)
		      .addTo(map);
		  });


//for each 'click, push.coordinates --> to array.push[]  
//run function spread operator - (new way to do push function) -- to check if entire length of array(add new position)loop through array-- look into:caching array values - adding data to second object- before loop check if value is already in array
// function push first/check points with loop 
//Point, MultiPoint, LineString, MultiLineString, Polygon, MultiPolygon
// class Zone {
//     constructor()
// }
// const zone = {
//     type: geojson,
//     data: {
//         type: Feature,
//         geometry: {
//             type: Polygon,
//             coordinates: [[[]]]
//             }
//         }
//     }
function setCoordinates(e) {
    var coordinates = e.lngLat

}
const newZone = document.getElementById("newZone")
newZone.on('click', function (e) { 
map.addSource('new york city', {
    'type': 'geojson',
    'data': {
        'type': 'Feature',
        'geometry': {
            'type': 'Polygon',
            // These coordinates outline Maine.
            'coordinates': [
                [  [] 
                    // [-67.13734, 45.13745],
                    // [-66.96466, 44.8097],
                    // [-68.03252, 44.3252],
                    // [-69.06, 43.98],
                    // [-70.11617, 43.68405],
                    // [-70.64573, 43.09008],
                    // [-70.75102, 43.08003],
                    // [-70.79761, 43.21973],
                    // [-70.98176, 43.36789],
                    // [-70.94416, 43.46633],
                    // [-71.08482, 45.30524],

                ]
            ]
        }
    }
});
})
// Add a new layer to visualize the polygon.
map.addLayer({
    'id': 'new york city',
    'type': 'fill',
    'source': 'maine', // reference the data source
    'layout': {},
    'paint': {
    'fill-color': '#0080ff', // blue color fill
    'fill-opacity': 0.5
    }
});
// Add a black outline around the polygon.
map.addLayer({
'id': 'outline',
'type': 'line',
'source': 'new york city',
'layout': {},
'paint': {
'line-color': '#000',
'line-width': 3
}
});

    //  geojson.features.forEach(marker => {
    //      const el = document.createElement('img')
    //      el.class = 'marker'
    //      el.src = 'images/mapbox-icon.png'
    //      el.style.width = '3vw'
    //      new mapboxgl.Marker(el)
    //      .setLngLat(marker.geometry.coordinates)
    //      .addTo(map)
    //  })
 </script>