<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css" type="text/css">

<h4>Select your Zones::</h4>
<pre id="info"></pre>
<div>
    <h4>Add a label to selected zone::</h4>
<form method="GET" action="/label">
<input type="text" name ="label" placeholder="Label zone"/>
<input type="submit" />
</form>
</div>

<div id="map"></div>


 <script>
     mapboxgl.accessToken = '<%= mapkey %>'
     const map = new mapboxgl.Map({
         container: 'map',
         style: 'mapbox://styles/mapbox/streets-v11',
         center: [-73.93126065039185, 40.74089181704446],
         zoom: 10
     })
    //  map.on('click', function(e) {
	// 	    var coordinates = e.lngLat;

	// 	    new mapboxgl.Popup()
	// 	      .setLngLat(coordinates)
	// 	      .setHTML('you clicked here: <br/>' + coordinates)
	// 	      .addTo(map);
	// 	  });
          
var draw = new MapboxDraw({
    displayControlsDefault: false,
    controls: {
        polygon: true,
        trash: true
    },
    defaultMode: 'draw_polygon'
});
map.addControl(draw);
 
map.on('draw.create', updateArea);
map.on('draw.delete', updateArea);
map.on('draw.update', updateArea);

function updateArea(e) {
    const headers = new Headers({
  'Content-Type': 'application/json',
  'lngLat': e.features[0].geometry.coordinates[0]
})
        fetch('/zone', {
            method: 'GET',
            headers: headers,
        }).then(response => response.json())
        .then(data => console.log(data))
        .catch(err => console.log(err))
   console.log(e) //the click event
   console.log(e.features[0].geometry.coordinates[0])
}

map.on('click', function (e) {
    document.getElementById('info').innerHTML =
// e.point is the x, y coordinates of the mousemove event relative
// to the top-left corner of the map
    // JSON.stringify(e.point) +
    // '<br />' +
// e.lngLat is the longitude, latitude geographical position of the event
    JSON.stringify(e.lngLat.wrap())
});

//for each 'click, push.coordinates --> to array.push[]  
//run function spread operator - (new way to do push function) -- to check if entire length of array(add new position)loop through array-- look into:caching array values - adding data to second object- before loop check if value is already in array
// function push first/check points with loop 

// class Zone {
//     constructor()
// }
// const zone = {
//     type: geojson,
//     data: {
//         type: Feature,
//         geometry: {
//             type: Polygon,
//             coordinates: [[[]]]
//             }
//         }
//     }
// function setCoordinates(e) {
//     var coordinates = e.lngLat
// }
// const newZone = document.getElementById("newZone")


 </script>