* {
    background-color:darkslategrey;
    background-image: url("/images/spaceman.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    background-image: unset;
    display: flex;
    justify-content: center;
    background-color:rgba(248, 248, 232, 0.205);
    padding-top: -1px;
    padding-bottom: -1px;
    margin-top: -1px;
    margin-bottom: -1px;
}
#subheading {
    font-size: 13pt;
    padding-top: 0px;
    margin-bottom: 80px;
}
h2 {
    background-image: unset;
    background-color: rgba(245, 245, 220, 0.007);
;
}
h3 {
    background-image: unset;
    background-color: rgba(245, 245, 220, 0.007);
    padding-top: -1px;
    padding-bottom: -1px;
    margin-top: -1px;
    margin-bottom: -1px;
}
p, strong {
    background-image: unset;
    background-color: rgba(245, 245, 220, 0.007);
}
h4 {
    background-image: unset;
    display: flex;
    justify-content: center;
    background-color: rgba(245, 245, 220, 0.007);
    padding-top: -1px;
    padding-bottom: -1px;
    margin-top: -1px;
    margin-bottom: -1px;
}
a {
    background-image: unset;
    background-color: rgba(245, 245, 220, 0.007);
    
}
div {
    background-image: unset;
}
form, input {
    background-image: unset;
    background-color: rgba(245, 245, 220, 0.007);
}
ul, li {
    background-image: unset;
    background-color: rgba(245, 245, 220, 0.007);
}
#map {
    position: absolute;
    /* bottom: 0;
    top: 35%;
    left: 50%; */
    width: 50%;
    height: 75%;
}

#info {
    display: block;
    position: relative;
    width: 50%;
    height: 10px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    color: #222;
    background: #fff;
    }
#navItems {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgba(245, 245, 220, 0.007);
    }
#background {
    background-image: unset;
    background-color: rgba(245, 245, 220, 0.397);
}
#zones {
    background-image: unset;
    background-color: rgba(245, 245, 220, 0.397);
    padding: 20px;
}
