* {
    background-color: teal;
}

#map {
    position: absolute;
    /* bottom: 0;
    top: 35%;
    left: 50%; */
    width: 70%;
    height: 80%;
}

#info {
    display: block;
    position: relative;
    width: 50%;
    height: 10px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    color: #222;
    background: #fff;
    }