* {
    background-color:darkslategrey;
    /* background-image: url("/images/spaceman.jpeg");
    background-repeat: no-repeat;
    background-size: cover; */
}
h1 {
    background-image: unset;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    background-color:rgba(248, 248, 232, 0.205) ;
}
h2 {
    background-image: unset;
    color: whitesmoke;
;
}
h3 {
    background-image: unset;
    color: powderblue;
}
p, strong {
    background-image: unset;
}
h4 {
    background-image: unset;
    display: flex;
    justify-content: center;
}
a {
    background-image: unset;
    display: flex;
    justify-content: center;
    
}
div {
    background-image: unset;
}
form, input {
    background-image: unset;
}
ul, li {
    background-image: unset;
}
#map {
    position: absolute;
    /* bottom: 0;
    top: 35%;
    left: 50%; */
    width: 60%;
    height: 60%;
}

#info {
    display: block;
    position: relative;
    width: 50%;
    height: 10px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    color: #222;
    background: #fff;
    }
#navItems {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: thistle;
    }