<!-- <ul>
    < % dinoData.forEach( (dino, index) => { %>
      <li>
        < %= dino.name %> is a < %= dino.type %>
        <a href="/dinosaurs/edit/< %= index %>">Edit dino</a>
        <form method="POST" action="/dinosaurs/< %= index %>/?_method=DELETE">
        <input type="submit" value="Delete">
        </form>
      </li>
    < % }) %>
  </ul> -->

  <!-- <h1>Authors</h1>

< % authors.forEach(function(author) { %>
  <div class="well">
    <h2>
      <a href="/authors/< %= author.id %>">
        < %= author.getFullName() %>
      </a>
    </h2>
  </div>
< % }) %>

<a href="/authors/new">Sign Up</a>

<hr />

<a href="/">&larr; Back Home</a> -->