<a href="/customers/new">Add a New Customer</a>
<a href="/"> Back Home</a> 


<h3>Customer info: </h3>
<ul>
<% customers.forEach(function(customer) { %>
  <li>
    <p> <%= customer.firstName %> <%= customer.lastName %> - <%= customer.phone %> 
      <% customer.locations.forEach(location => { %> 
        <%= location.address %> </p> 
        <% }) %> 
      <a href="/customers/edit/">Edit customer</a>
        <!-- <form method="POST" action="/customers/< %= index %>/?_method=DELETE">
        <input type="submit" value="Delete"> -->
        <!-- </form> -->
        </li>
<% }) %>
      </ul>

